body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;
  background-color: #212529;
  width: 100%;
  height: 100vh;
}

.btn {
  z-index: 0;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  height: 5%;
  width: 80%;
  left: 10%;
}

.box {
  margin:  0;
  padding: 0;
  background-color: #212529;
  width: 100%;
  height: 850px;
}

.bg {
  padding: 0;
  margin: 1px 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.images-wrapper {
  position: absolute;
  top: 0;
  left: calc(100vw/2 - 500px);
  z-index: 1;
  height: 850px;
  width: 1100px;
  margin: auto;
}


.images-content {
  padding: 15px;
}

.images-pictures {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.image-box {
  width: 350px;
  height: 250px;
}

.image-item {
  position: relative;
  left: 25px;
  top: 10px;
  margin: 7px 1px ;
  max-width: 300px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.image-item:hover{
  position: relative;
  left: -25px;
  z-index: 1;
  max-width: 420px;
  margin: -10px;
}

.users-wrapper {
  transform-style: preserve-3d;
  overflow: hidden;
  position: absolute;
  top: 850px;
  left: calc(100vw/2 - 500px);
  z-index: 1;
  height: 850px;
  width: 1100px;
  margin: auto;
}

.user-item {
  backface-visibility: visible;
  background-color: rgb(93,62,34);
  padding-top: 0;
  padding-bottom: 20px;
  text-align: left;
  font-size: 17px;
  color: #d8d8d8;
  margin: 10px 10px;
  width: 340px;
  height: 110px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.user-item:hover {
  background-color: rgb(118,82,55);
  color: #fff;
  text-shadow: 1px 1px 3px dimgrey;
  border-bottom: rgb(93,62,34) 8px solid;
  transform: rotateX( 20deg);
  overflow: revert;
  margin: 5px 10px;

}

.users-cards {
  top: 40px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;

}

.weather-wrapper {
  transform-style: preserve-3d;
  overflow: hidden;
  position: absolute;
  top: 1700px;
  left: calc(100vw/2 - 500px);
  z-index: 1;
  height: 850px;
  width: 1100px;
  margin: auto;
}

.weathers-card {
  text-align: center;
  padding: 15px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  height: 550px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.weather-img {
  border: #111111 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: snow;
  width: 150px;
}